/Cat.class
/Cymric.class
/Dog.class
/EgyptianMau.class
/ForNameCreator.class
/Hamster.class
/Individual.class
/LiteralPetCreator.class
/Manx.class
/Mouse.class
/Mutt.class
/Person.class
/Pet.class
/PetCreator.class
/Pets.class
/Pug.class
/Rat.class
/Rodent.class
